glennan-oculus/Library/metadata/
glennan-oculus/Assets/Tuscany/Textures/Floor N.jpg.meta
glennan-oculus/Assets/Tuscany/
glennan-oculus/Library/ShaderCache/
glennan-oculus/Library/
glennan-oculus/Temp/
glennan-oculus/Assets/Concrete textures pack/pattern 15/normal.tga
glennan-oculus/Assets/Concrete textures pack/pattern 15/diffuse.tga.meta
glennan-oculus/Assets/Concrete textures pack/
