glennan-oculus/Library/metadata/
glennan-oculus/Assets/Tuscany/Textures/Floor N.jpg.meta
glennan-oculus/Assets/Tuscany/
glennan-oculus/Library/ShaderCache/
glennan-oculus/Library/
glennan-oculus/Temp/
